body{
    background-color: #EA9AB2;
    font-family: sans-serif;
}
.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.text img {
    width: 200px;
    height: auto; 
    margin: -55px;
}


.loading{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading .line-box{
    padding: 2px;
    width: 40%;
    height: 20px;
    border: 2px solid #000000;
    border-radius: 20px;

}
.loading .line-box .line{
    height: 20px;
    border-radius: 20px;
    background-color: #C27BA0;
    animation: loading 1s forwards linear;
}
@keyframes loading{
    0%{
        width: 0%
    }
    100%{
        width: 100%
    }   
}